*{
    margin: 0;
    padding: 0;
    
    }
    
.parent{
    
    background-color:burlywood;
    
    display: flex;
    
    justify-content: center;
    
    min-height: 100vh;
    
    align-items: center;
    
    flex-wrap: wrap;
}
    .parent>div{
    
    width: 200px;
    
    height: 300px;
    
    background-color:bisque;
    
    border: 1px solid â˜ black;
    
    margin: 20px;
    
    }
    
    .image{
    
    width: 100%;
    
    height: 80%;
    
    }
    
    .content{
    
    height: 20%;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    }
    
    img{
    
    width: 100%;
    
    height: 100%;
    
    object-fit: cover;
    
    }
    .container{
        width: 100vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .container>button{
        border: none;
        background-color: rgb(213, 213, 89);
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 50%;

    }
    .container>h5{
        position: absolute;
        left: 40%;
        top: 40%;
        color: brown;
        border-color:antiquewhite ;
        
    }
    .nav{

        padding: 20px;
        
        display: flex;
        
        justify-content: space-between;
        background-color: bisque;
        color: cadetblue;
        
        }
        
        .left{
        
        display: flex;
        
        }
        
        .left>h4{
        
        margin-right: 20px;
    }
    .content>button{
        border: none;
    }
    .ds {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        
    }
    
    .ds > h3 {
        color: brown;
        font-family: Geneva, Verdana, sans-serif;
    }
    
    .ds>h3{
        color: brown;
        font-family: Geneva, Verdana, sans-serif;

    }