@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Grey+Qo&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*navigation bar*/
.nav{
    display: flex;
    justify-content: space-between;
}
.left{

    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.left>h4{
    margin-right: 20px;
}
.right{
    font-size: larger;
}
/*----------------------------------*/
.container1{
    padding: 10px;
    height: 50%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.f1{
    flex: 2;
}
.f2{
    flex: 1;
}
.f1>img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.container2{
    background-color: yellow;
    margin: 30px;
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: space-evenly;
}
.container2.h3{
    background-color: rgb(224, 60, 60);
}