@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Grey+Qo&family=Moderustic:wght@300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Grey+Qo&family=Moderustic:wght@300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /* font-family: Arial, sans-serif; */
    background-color: rgb(235, 228, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dtl {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1 {
    font-size: 12px;
    color:rgb(140, 140, 154);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: "Mukta", sans-serif;
}

.h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(66, 59, 59);
}

.p3 {
    font-size: 14px;
    line-height: 1.6;
    color:rgb(136, 129, 129);
    margin-bottom: 20px;
}

.p4 {
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: rgb(14, 126, 70);
    margin-right: 10px;
}

.original-price {
    font-size: 16px;
    color:grey;
    text-decoration: line-through;
}

.cart {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:rgb(14, 126, 70);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image{
    flex: 2;
}
.dtl{
flex: 1;
}